* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: "norse-bold";
    src: url("assets/Norse-Bold.otf")
}

label {
    text-transform: uppercase;
}

body {
    display: flex;
    height: 100vh;
}

#left {
    width: 37.5%;
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    position: relative;
}

#credits {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    color: white;
    width: 100%;
}

#logo {
    color: white;
    display: flex;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 8rem;
    width: 100%;
    display: row;
    justify-content: center;
    align-items: center;
}

#logo > span {
    font-family: "norse-bold";
    font-size: 5rem;
    position: relative;
    top: 0.5rem;
}

#logo > img {
    height: 6rem;
}