* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: "norse-bold";
    src: url("assets/Norse-Bold.otf")
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
}

body {
    display: flex;
    height: 100vh;
}

#left {
    width: 37.5%;
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    position: relative;
}

#credits {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 100;
}

#logo {
    color: white;
    display: flex;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 8rem;
    width: 100%;
    display: row;
    justify-content: center;
    align-items: center;
}

#logo > span {
    font-family: "norse-bold";
    font-size: 5rem;
    position: relative;
    top: 0.5rem;
}

#logo > img {
    height: 6rem;
}

button {
    background-color: #596D48;
    color: white;
    padding: 0.5rem 2rem;
    margin-left: 2rem;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

#main {
    background-color: #F9FAFB;
    padding: 6rem 0;
}

#main > * {
    padding-left: 2rem;
}

#main > form {
    padding-left: 0;
    margin-top: 3rem;
}

#main > * + * {
    margin-top: 1rem;
}

#main > p:first-child {
    width: min(100%, 55ch)
}

#inputs {
    background-color: white;
    box-shadow: 5px 5px 5px #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

#main > p:nth-child(-n+2) {
    font-weight: 800;
}

.input-row {
    display: flex;
    gap: 4rem;
    margin: 1rem 0;
}

.input-row > div {
    display: flex;
    flex-direction: column;
}

input {
    width: 15rem;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 5px;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 5px 5px 5px #ccc;
}

input:invalid {
    border: 1px solid red;
}

#main > p > a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

#credits > a {
    color: white;
}

#main > p:last-of-type {
    font-size: 0.8rem;
}